* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100lvh;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
